In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
vwret = pd.read_csv('vwret.csv')
vwret.rename(columns = {'caldt': 'year'}, inplace = True)
vwret['year'] = vwret['year'].astype(str).str[0:4].astype(int)

In [9]:
vwret['vwRetd'] = vwret['vwretd'] + 1
vwret['vwRetx'] = vwret['vwretx'] + 1

In [10]:
print(vwret.dtypes, '\n', vwret.head(), '\n', vwret.tail())

year        int64
vwretd    float64
vwretx    float64
vwRetd    float64
vwRetx    float64
dtype: object
    year    vwretd    vwretx    vwRetd    vwRetx
0  1926  0.098479  0.043034  1.098479  1.043034
1  1927  0.328716  0.266477  1.328716  1.266477
2  1928  0.391397  0.337056  1.391397  1.337056
3  1929 -0.150955 -0.182395  0.849045  0.817605
4  1930 -0.289005 -0.321455  0.710995  0.678545
     year    vwretd    vwretx    vwRetd    vwRetx
89  2015 -0.015995 -0.037069  0.984005  0.962931
90  2016  0.129461  0.104250  1.129461  1.104250
91  2017  0.209028  0.184488  1.209028  1.184488
92  2018 -0.061828 -0.081145  0.938172  0.918855
93  2019  0.297513  0.271214  1.297513  1.271214

In [11]:
rf = pd.read_excel('rf.xlsx', sheet_name = 'Annual')[['yyyy', 'Rfree', 'AAA', 'BAA', 'tbl', 'lty']]
rf.rename(columns = {'yyyy': 'year', 'Rfree': 'rf'}, inplace = True)
rf['rf'] = rf['rf'].shift(1)
rf['Rf'] = rf['rf'] + 1

In [12]:
rf

     year        rf     AAA     BAA     tbl     lty        Rf
0    1871       NaN     NaN     NaN     NaN     NaN       NaN
1    1872  0.058857     NaN     NaN     NaN     NaN  1.058857
2    1873  0.074306     NaN     NaN     NaN     NaN  1.074306
3    1874  0.090108     NaN     NaN     NaN     NaN  1.090108
4    1875  0.049638     NaN     NaN     NaN     NaN  1.049638
..    ...       ...     ...     ...     ...     ...       ...
144  2015  0.000300  0.0397  0.0546  0.0023  0.0243  1.000300
145  2016  0.002300  0.0406  0.0483  0.0051  0.0272  1.002300
146  2017  0.005100  0.0351  0.0422  0.0132  0.0254  1.005100
147  2018  0.013200  0.0402  0.0513  0.0237  0.0284  1.013200
148  2019  0.023700  0.0301  0.0388  0.0154  0.0186  1.023700

[149 rows x 7 columns]

In [13]:
df1 = pd.merge(vwret, rf, on = 'year', how = 'inner')

In [14]:
df1

,year,vwretd,vwretx,vwRetd,vwRetx,rf,AAA,BAA,tbl,lty,Rf
0,1926,0.098479,0.043034,1.098479,1.043034,0.0351,0.0468,0.0568,0.0307,0.0354,1.0351
1,1927,0.328716,0.266477,1.328716,1.266477,0.0307,0.0446,0.0532,0.0317,0.0316,1.0307
2,1928,0.391397,0.337056,1.391397,1.337056,0.0317,0.0461,0.0560,0.0426,0.0340,1.0317
3,1929,-0.150955,-0.182395,0.849045,0.817605,0.0426,0.0467,0.0595,0.0303,0.0340,1.0426
4,1930,-0.289005,-0.321455,0.710995,0.678545,0.0303,0.0452,0.0671,0.0148,0.0330,1.0303
...,...,...,...,...,...,...,...,...,...,...,...
89,2015,-0.015995,-0.037069,0.984005,0.962931,0.0003,0.0397,0.0546,0.0023,0.0243,1.0003
90,2016,0.129461,0.104250,1.129461,1.104250,0.0023,0.0406,0.0483,0.0051,0.0272,1.0023
91,2017,0.209028,0.184488,1.209028,1.184488,0.0051,0.0351,0.0422,0.0132,0.0254,1.0051
92,2018,-0.061828,-0.081145,0.938172,0.918855,0.0132,0.0402,0.0513,0.0237,0.0284,1.0132
93,2019,0.297513,0.271214,1.297513,1.271214,0.0237,0.0301,0.0388,0.0154,0.0186,1.0237

In [15]:
df1['DP'] = (df1['vwRetd'] - df1['vwRetx']) / df1['vwRetx']
df1['DG'] = (df1['vwRetd'] - df1['vwRetx']) / (df1['vwRetd'] - df1['vwRetx']).shift(1) * df1['vwRetx'].shift(1)

In [16]:
df1

,year,vwretd,vwretx,vwRetd,vwRetx,rf,AAA,BAA,tbl,lty,Rf,DP,DG
0,1926,0.098479,0.043034,1.098479,1.043034,0.0351,0.0468,0.0568,0.0307,0.0354,1.0351,0.053157,NaN
1,1927,0.328716,0.266477,1.328716,1.266477,0.0307,0.0446,0.0532,0.0317,0.0316,1.0307,0.049143,1.170843
2,1928,0.391397,0.337056,1.391397,1.337056,0.0317,0.0461,0.0560,0.0426,0.0340,1.0317,0.040642,1.105764
3,1929,-0.150955,-0.182395,0.849045,0.817605,0.0426,0.0467,0.0595,0.0303,0.0340,1.0426,0.038454,0.773579
4,1930,-0.289005,-0.321455,0.710995,0.678545,0.0303,0.0452,0.0671,0.0148,0.0330,1.0303,0.047823,0.843870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,2015,-0.015995,-0.037069,0.984005,0.962931,0.0003,0.0397,0.0546,0.0023,0.0243,1.0003,0.021885,1.008804
90,2016,0.129461,0.104250,1.129461,1.104250,0.0023,0.0406,0.0483,0.0051,0.0272,1.0023,0.022831,1.151962
91,2017,0.209028,0.184488,1.209028,1.184488,0.0051,0.0351,0.0422,0.0132,0.0254,1.0051,0.020718,1.074860
92,2018,-0.061828,-0.081145,0.938172,0.918855,0.0132,0.0402,0.0513,0.0237,0.0284,1.0132,0.021023,0.932386
93,2019,0.297513,0.271214,1.297513,1.271214,0.0237,0.0301,0.0388,0.0154,0.0186,1.0237,0.020688,1.250969

In [17]:
df1.to_csv('df2.csv', index = False)